* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 230, 216);
}

.container {
    width: 25%;
    height: 40vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h2 {
    margin-top: 6%;
}

.color-box {
    width: 50%;
    height: 50%;
    background-color: #ff0000; /* Replace with desired color */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

button {
    margin-top: 3%;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}