* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(99, 51, 99);
}

.box {
    width: 20%;
    height: 4vh;
    background-color: rgb(99, 51, 99);    border-radius: 5px;
    padding: 10px;
    border: 2px solid white;
}

input {
    width: 88%;
    height: 3vh;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(99, 51, 99);    
    border: none;
    outline: none;
    border: none;
    color: white;
}

/*give white color to placeholder*/
input::placeholder {
    color: white;
}

button {
    width: 20%;
    height: 3vh;
    background-color: rgb(99, 51, 99);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

i {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.output {
    font-family: monospace;
    color: white;
    margin-top: 7px;
}

